//配置全局scss变量
$color:red;
//定义主题颜色
$base-color:yellowgreen;
//定义home页面侧边栏宽度
$base-side-width:15%;
$min-side-width:3%;
$base-side-color:#001529;
//定义tab头部
$base-top-height:6%;
$base-top-color:#fff;
//定义body
$base-body-color:skyblue;
//定义logo
$base-logo-fontSize:26px;
$base-logo-height:8%;